* {
	padding: 0;
	margin: 0;
}
.ro1 {
	background-color: #204969;
}
h1 {
	text-align: center;
	color: #fff;
}
.im1 {
	margin: 10px;
	width: 35px;
	height: 35px;

}
.re1 {
	text-align: center;
}
.ro3 {
	background-color: #009975;
}
.im {
	width: 300px;
	height: 350px;
	margin: 10px;
	border-radius: 50%;
	border: 10px #204969 solid;
	
}
.ca {
	color: #FFF;
	font-family: Arial;
	font-size: 20px;	
	text-align: center;
}
h2 {
	text-align: center;
	color: #50b6bb;
}
.colt {
	margin-top: 10px;
}
.conte2 {
	background-color: #f6edcf; 
}